$--pure--white: rgba(255, 255, 255, 1);
$--pure--black: rgba(0, 0, 0, 1);
$--pure-white-opacity--48: rgba(255, 255, 255, 0.47999998927116394);
$--pure-white-opacity--40: rgba(255, 255, 255, 0.4000000059604645);
$--pure-white-opacity--32: rgba(255, 255, 255, 0.3199999928474426);
$--pure-white-opacity--24: rgba(255, 255, 255, 0.23999999463558197);
$--pure-white-opacity--16: rgba(255, 255, 255, 0.1599999964237213);
$--pure-white-opacity--8: rgba(255, 255, 255, 0.07999999821186066);
$--pure-white-opacity--4: rgba(255, 255, 255, 0.03999999910593033);
$--pure-black-opacity--48: rgba(0, 0, 0, 0.47999998927116394);
$--pure-black-opacity--40: rgba(0, 0, 0, 0.4000000059604645);
$--pure-black-opacity--32: rgba(0, 0, 0, 0.3199999928474426);
$--pure-black-opacity--24: rgba(0, 0, 0, 0.23999999463558197);
$--pure-black-opacity--16: rgba(0, 0, 0, 0.1599999964237213);
$--pure-black-opacity--8: rgba(0, 0, 0, 0.07999999821186066);
$--pure-black-opacity--4: rgba(0, 0, 0, 0.03999999910593033);
$--base--1200: rgba(21, 22, 36, 1);
$--base--1100: rgba(26, 28, 45, 1);
$--base--1000: rgba(33, 36, 54, 1);
$--base--900: rgba(40, 44, 65, 1);
$--base--800: rgba(54, 59, 85, 1);
$--base--700: rgba(91, 98, 138, 1);
$--base--600: rgba(146, 151, 183, 1);
$--base--500: rgba(183, 186, 208, 1);
$--base--400: rgba(207, 209, 224, 1);
$--base--300: rgba(225, 226, 236, 1);
$--base--200: rgba(233, 234, 242, 1);
$--base--100: rgba(241, 242, 247, 1);
$--base--50: rgba(249, 249, 252, 1);
$--base-opacity--48: rgba(146, 151, 183, 0.47999998927116394);
$--base-opacity--40: rgba(146, 151, 183, 0.4000000059604645);
$--base-opacity--32: rgba(146, 151, 183, 0.3199999928474426);
$--base-opacity--24: rgba(146, 151, 183, 0.23999999463558197);
$--base-opacity--16: rgba(146, 151, 183, 0.1599999964237213);
$--base-opacity--8: rgba(146, 151, 183, 0.07999999821186066);
$--base-opacity--4: rgba(146, 151, 183, 0.03999999910593033);
$--primary--900: rgba(6, 3, 141, 1);
$--primary--800: rgba(6, 1, 184, 1);
$--primary--700: rgba(8, 0, 231, 1);
$--primary--600: rgba(47, 45, 249, 1);
$--primary--500: rgba(80, 79, 246, 1);
$--primary--400: rgba(110, 109, 248, 1);
$--primary--300: rgba(138, 137, 250, 1);
$--primary--200: rgba(168, 168, 251, 1);
$--primary--100: rgba(198, 198, 254, 1);
$--primary--50: rgba(227, 227, 255, 1);
$--primary-opacity--48: rgba(80, 79, 246, 0.47999998927116394);
$--primary-opacity--40: rgba(80, 79, 246, 0.4000000059604645);
$--primary-opacity--32: rgba(80, 79, 246, 0.3199999928474426);
$--primary-opacity--24: rgba(80, 79, 246, 0.23999999463558197);
$--primary-opacity--16: rgba(80, 79, 246, 0.1599999964237213);
$--primary-opacity--8: rgba(80, 79, 246, 0.07999999821186066);
$--primary-opacity--4: rgba(80, 79, 246, 0.03999999910593033);
$--green--900: rgba(1, 71, 17, 1);
$--green--800: rgba(0, 105, 29, 1);
$--green--700: rgba(1, 138, 41, 1);
$--green--600: rgba(4, 170, 53, 1);
$--green--500: rgba(17, 199, 66, 1);
$--green--400: rgba(54, 218, 87, 1);
$--green--300: rgba(96, 234, 119, 1);
$--green--200: rgba(159, 244, 168, 1);
$--green--100: rgba(217, 250, 219, 1);
$--green--50: rgba(234, 252, 235, 1);
$--green-opacity--48: rgba(4, 170, 53, 0.47999998927116394);
$--green-opacity--40: rgba(4, 170, 53, 0.4000000059604645);
$--green-opacity--32: rgba(4, 170, 53, 0.3199999928474426);
$--green-opacity--24: rgba(4, 170, 53, 0.23999999463558197);
$--green-opacity--16: rgba(4, 170, 53, 0.1599999964237213);
$--green-opacity--8: rgba(4, 170, 53, 0.07999999821186066);
$--green-opacity--4: rgba(4, 170, 53, 0.03999999910593033);
$--blue--900: rgba(0, 59, 87, 1);
$--blue--800: rgba(0, 83, 132, 1);
$--blue--700: rgba(0, 106, 174, 1);
$--blue--600: rgba(0, 129, 215, 1);
$--blue--500: rgba(0, 155, 230, 1);
$--blue--400: rgba(0, 179, 244, 1);
$--blue--300: rgba(70, 203, 255, 1);
$--blue--200: rgba(131, 220, 255, 1);
$--blue--100: rgba(178, 236, 255, 1);
$--blue--50: rgba(219, 247, 255, 1);
$--blue-opacity--48: rgba(0, 129, 215, 0.47999998927116394);
$--blue-opacity--40: rgba(0, 129, 215, 0.4000000059604645);
$--blue-opacity--32: rgba(0, 129, 215, 0.3199999928474426);
$--blue-opacity--24: rgba(0, 129, 215, 0.23999999463558197);
$--blue-opacity--16: rgba(0, 129, 215, 0.1599999964237213);
$--blue-opacity--8: rgba(0, 129, 215, 0.07999999821186066);
$--blue-opacity--4: rgba(0, 129, 215, 0.03999999910593033);
$--red--900: rgba(150, 0, 2, 1);
$--red--800: rgba(179, 0, 4, 1);
$--red--700: rgba(206, 1, 6, 1);
$--red--600: rgba(239, 2, 9, 1);
$--red--500: rgba(255, 54, 55, 1);
$--red--400: rgba(255, 101, 102, 1);
$--red--300: rgba(255, 138, 139, 1);
$--red--200: rgba(255, 171, 171, 1);
$--red--100: rgba(255, 203, 203, 1);
$--red--50: rgba(255, 234, 234, 1);
$--red-opacity--48: rgba(255, 54, 55, 0.47999998927116394);
$--red-opacity--40: rgba(255, 54, 55, 0.4000000059604645);
$--red-opacity--32: rgba(255, 54, 55, 0.3199999928474426);
$--red-opacity--24: rgba(255, 54, 55, 0.23999999463558197);
$--red-opacity--16: rgba(255, 54, 55, 0.1599999964237213);
$--red-opacity--8: rgba(255, 54, 55, 0.07999999821186066);
$--red-opacity--4: rgba(255, 54, 55, 0.03999999910593033);
$--orange--900: rgba(156, 57, 0, 1);
$--orange--800: rgba(186, 68, 0, 1);
$--orange--700: rgba(212, 78, 1, 1);
$--orange--600: rgba(237, 92, 2, 1);
$--orange--500: rgba(255, 108, 19, 1);
$--orange--400: rgba(255, 138, 90, 1);
$--orange--300: rgba(255, 168, 135, 1);
$--orange--200: rgba(255, 197, 174, 1);
$--orange--100: rgba(255, 225, 212, 1);
$--orange--50: rgba(255, 243, 238, 1);
$--orange-opacity--48: rgba(237, 92, 2, 0.47999998927116394);
$--orange-opacity--40: rgba(237, 92, 2, 0.4000000059604645);
$--orange-opacity--32: rgba(237, 92, 2, 0.3199999928474426);
$--orange-opacity--24: rgba(237, 92, 2, 0.23999999463558197);
$--orange-opacity--16: rgba(237, 92, 2, 0.1599999964237213);
$--orange-opacity--8: rgba(237, 92, 2, 0.07999999821186066);
$--orange-opacity--4: rgba(237, 92, 2, 0.03999999910593033);
$--yellow--900: rgba(90, 66, 0, 1);
$--yellow--800: rgba(119, 86, 0, 1);
$--yellow--700: rgba(147, 107, 0, 1);
$--yellow--600: rgba(177, 129, 19, 1);
$--yellow--500: rgba(195, 147, 35, 1);
$--yellow--400: rgba(215, 165, 37, 1);
$--yellow--300: rgba(238, 181, 0, 1);
$--yellow--200: rgba(255, 197, 0, 1);
$--yellow--100: rgba(255, 215, 117, 1);
$--yellow--50: rgba(255, 237, 204, 1);
$--yellow-opacity--48: rgba(177, 129, 19, 0.47999998927116394);
$--yellow-opacity--40: rgba(177, 129, 19, 0.4000000059604645);
$--yellow-opacity--32: rgba(177, 129, 19, 0.3199999928474426);
$--yellow-opacity--24: rgba(177, 129, 19, 0.23999999463558197);
$--yellow-opacity--16: rgba(177, 129, 19, 0.1599999964237213);
$--yellow-opacity--8: rgba(177, 129, 19, 0.07999999821186066);
$--yellow-opacity--4: rgba(177, 129, 19, 0.03999999910593033);
$--aqua--900: rgba(1, 61, 49, 1);
$--aqua--800: rgba(1, 84, 66, 1);
$--aqua--700: rgba(1, 108, 87, 1);
$--aqua--600: rgba(1, 135, 108, 1);
$--aqua--500: rgba(0, 165, 132, 1);
$--aqua--400: rgba(12, 199, 160, 1);
$--aqua--300: rgba(67, 220, 179, 1);
$--aqua--200: rgba(98, 233, 194, 1);
$--aqua--100: rgba(126, 242, 207, 1);
$--aqua--50: rgba(172, 247, 223, 1);
$--aqua-opacity--48: rgba(4, 170, 137, 0.47999998927116394);
$--aqua-opacity--40: rgba(4, 170, 137, 0.4000000059604645);
$--aqua-opacity--32: rgba(4, 170, 137, 0.3199999928474426);
$--aqua-opacity--24: rgba(4, 170, 137, 0.23999999463558197);
$--aqua-opacity--16: rgba(4, 170, 137, 0.1599999964237213);
$--aqua-opacity--8: rgba(4, 170, 137, 0.07999999821186066);
$--aqua-opacity--4: rgba(4, 170, 137, 0.03999999910593033);
$--fushia--900: rgba(122, 0, 59, 1);
$--fushia--800: rgba(179, 1, 87, 1);
$--fushia--700: rgba(214, 1, 104, 1);
$--fushia--600: rgba(254, 1, 123, 1);
$--fushia--500: rgba(255, 77, 163, 1);
$--fushia--400: rgba(255, 113, 201, 1);
$--fushia--300: rgba(255, 146, 213, 1);
$--fushia--200: rgba(255, 177, 225, 1);
$--fushia--100: rgba(254, 220, 241, 1);
$--fushia--50: rgba(255, 242, 250, 1);
$--fushia-opacity--48: rgba(254, 1, 123, 0.47999998927116394);
$--fushia-opacity--40: rgba(254, 1, 123, 0.4000000059604645);
$--fushia-opacity--32: rgba(254, 1, 123, 0.3199999928474426);
$--fushia-opacity--24: rgba(254, 1, 123, 0.23999999463558197);
$--fushia-opacity--16: rgba(254, 1, 123, 0.1599999964237213);
$--fushia-opacity--8: rgba(254, 1, 123, 0.07999999821186066);
$--fushia-opacity--4: rgba(254, 1, 123, 0.03999999910593033);
$--pink--900: rgba(113, 0, 113, 1);
$--pink--800: rgba(148, 1, 148, 1);
$--pink--700: rgba(183, 1, 183, 1);
$--pink--600: rgba(214, 1, 214, 1);
$--pink--500: rgba(246, 0, 246, 1);
$--pink--400: rgba(244, 86, 255, 1);
$--pink--300: rgba(241, 130, 255, 1);
$--pink--200: rgba(244, 165, 255, 1);
$--pink--100: rgba(246, 202, 254, 1);
$--pink--50: rgba(251, 230, 255, 1);
$--pink-opacity--48: rgba(214, 1, 214, 0.47999998927116394);
$--pink-opacity--40: rgba(214, 1, 214, 0.4000000059604645);
$--pink-opacity--32: rgba(214, 1, 214, 0.3199999928474426);
$--pink-opacity--24: rgba(214, 1, 214, 0.23999999463558197);
$--pink-opacity--16: rgba(214, 1, 214, 0.1599999964237213);
$--pink-opacity--8: rgba(214, 1, 214, 0.07999999821186066);
$--pink-opacity--4: rgba(214, 1, 214, 0.03999999910593033);
$--36--regular: 36px;
$--36--semi-bold: 36px;
$--36--bold: 36px;
$--24--regular: 24px;
$--24--medium: 24px;
$--24--semi-bold: 24px;
$--24--bold: 24px;
$--16--regular: 16px;
$--16--medium: 16px;
$--16--semi-bold: 16px;
$--16--bold: 16px;
$--14--regular: 14px;
$--14--medium: 14px;
$--14--semibold: 14px;
$--14--bold: 14px;
$--13--regular: 13px;
$--13--medium: 13px;
$--13--semi-bold: 13px;
$--13--bold: 13px;
$--12--regular: 12px;
$--12--medium: 12px;
$--12--semi-bold: 12px;
$--12--bold: 12px;
$--11--regular: 11px;
$--11--medium: 11px;
$--11--semibold: 11px;
$--11--bold: 11px;
$--10--regular: 10px;
$--10--medium: 10px;
$--10--semibold: 10px;
$--10--bold: 10px;
$--32--medium: 32px;
$--shadow---xs: 0px 1px 2px rgba(16, 24, 40, 0.04);
$--shadow---sm: 0px 1px 3px rgba(16, 24, 40, 0.06);
$--shadow---md: 0px 4px 8px rgba(16, 24, 40, 0.1);
$--shadow---lg: 0px 12px 16px rgba(16, 24, 40, 0.08);
$--shadow---xl: 0px 20px 24px rgba(16, 24, 40, 0.08);
$--shadow---2-xl: 0px 24px 48px rgba(16, 24, 40, 0.18);
$--shadow---3-xl: 0px 32px 64px rgba(16, 24, 40, 0.14);

:root {
  --pure--white: rgba(255, 255, 255, 1);
  --pure--black: rgba(0, 0, 0, 1);
  --pure-white-opacity--48: rgba(255, 255, 255, 0.47999998927116394);
  --pure-white-opacity--40: rgba(255, 255, 255, 0.4000000059604645);
  --pure-white-opacity--32: rgba(255, 255, 255, 0.3199999928474426);
  --pure-white-opacity--24: rgba(255, 255, 255, 0.23999999463558197);
  --pure-white-opacity--16: rgba(255, 255, 255, 0.1599999964237213);
  --pure-white-opacity--8: rgba(255, 255, 255, 0.07999999821186066);
  --pure-white-opacity--4: rgba(255, 255, 255, 0.03999999910593033);
  --pure-black-opacity--48: rgba(0, 0, 0, 0.47999998927116394);
  --pure-black-opacity--40: rgba(0, 0, 0, 0.4000000059604645);
  --pure-black-opacity--32: rgba(0, 0, 0, 0.3199999928474426);
  --pure-black-opacity--24: rgba(0, 0, 0, 0.23999999463558197);
  --pure-black-opacity--16: rgba(0, 0, 0, 0.1599999964237213);
  --pure-black-opacity--8: rgba(0, 0, 0, 0.07999999821186066);
  --pure-black-opacity--4: rgba(0, 0, 0, 0.03999999910593033);
  --base--1200: rgba(21, 22, 36, 1);
  --base--1100: rgba(26, 28, 45, 1);
  --base--1000: rgba(33, 36, 54, 1);
  --base--900: rgba(40, 44, 65, 1);
  --base--800: rgba(54, 59, 85, 1);
  --base--700: rgba(91, 98, 138, 1);
  --base--600: rgba(146, 151, 183, 1);
  --base--500: rgba(183, 186, 208, 1);
  --base--400: rgba(207, 209, 224, 1);
  --base--300: rgba(225, 226, 236, 1);
  --base--200: rgba(233, 234, 242, 1);
  --base--100: rgba(241, 242, 247, 1);
  --base--50: rgba(249, 249, 252, 1);
  --base-opacity--48: rgba(146, 151, 183, 0.47999998927116394);
  --base-opacity--40: rgba(146, 151, 183, 0.4000000059604645);
  --base-opacity--32: rgba(146, 151, 183, 0.3199999928474426);
  --base-opacity--24: rgba(146, 151, 183, 0.23999999463558197);
  --base-opacity--16: rgba(146, 151, 183, 0.1599999964237213);
  --base-opacity--8: rgba(146, 151, 183, 0.07999999821186066);
  --base-opacity--4: rgba(146, 151, 183, 0.03999999910593033);
  --primary--900: rgba(6, 3, 141, 1);
  --primary--800: rgba(6, 1, 184, 1);
  --primary--700: rgba(8, 0, 231, 1);
  --primary--600: rgba(47, 45, 249, 1);
  --primary--500: rgba(80, 79, 246, 1);
  --primary--400: rgba(110, 109, 248, 1);
  --primary--300: rgba(138, 137, 250, 1);
  --primary--200: rgba(168, 168, 251, 1);
  --primary--100: rgba(198, 198, 254, 1);
  --primary--50: rgba(227, 227, 255, 1);
  --primary-opacity--48: rgba(80, 79, 246, 0.47999998927116394);
  --primary-opacity--40: rgba(80, 79, 246, 0.4000000059604645);
  --primary-opacity--32: rgba(80, 79, 246, 0.3199999928474426);
  --primary-opacity--24: rgba(80, 79, 246, 0.23999999463558197);
  --primary-opacity--16: rgba(80, 79, 246, 0.1599999964237213);
  --primary-opacity--8: rgba(80, 79, 246, 0.07999999821186066);
  --primary-opacity--4: rgba(80, 79, 246, 0.03999999910593033);
  --green--900: rgba(1, 71, 17, 1);
  --green--800: rgba(0, 105, 29, 1);
  --green--700: rgba(1, 138, 41, 1);
  --green--600: rgba(4, 170, 53, 1);
  --green--500: rgba(17, 199, 66, 1);
  --green--400: rgba(54, 218, 87, 1);
  --green--300: rgba(96, 234, 119, 1);
  --green--200: rgba(159, 244, 168, 1);
  --green--100: rgba(217, 250, 219, 1);
  --green--50: rgba(234, 252, 235, 1);
  --green-opacity--48: rgba(4, 170, 53, 0.47999998927116394);
  --green-opacity--40: rgba(4, 170, 53, 0.4000000059604645);
  --green-opacity--32: rgba(4, 170, 53, 0.3199999928474426);
  --green-opacity--24: rgba(4, 170, 53, 0.23999999463558197);
  --green-opacity--16: rgba(4, 170, 53, 0.1599999964237213);
  --green-opacity--8: rgba(4, 170, 53, 0.07999999821186066);
  --green-opacity--4: rgba(4, 170, 53, 0.03999999910593033);
  --blue--900: rgba(0, 59, 87, 1);
  --blue--800: rgba(0, 83, 132, 1);
  --blue--700: rgba(0, 106, 174, 1);
  --blue--600: rgba(0, 129, 215, 1);
  --blue--500: rgba(0, 155, 230, 1);
  --blue--400: rgba(0, 179, 244, 1);
  --blue--300: rgba(70, 203, 255, 1);
  --blue--200: rgba(131, 220, 255, 1);
  --blue--100: rgba(178, 236, 255, 1);
  --blue--50: rgba(219, 247, 255, 1);
  --blue-opacity--48: rgba(0, 129, 215, 0.47999998927116394);
  --blue-opacity--40: rgba(0, 129, 215, 0.4000000059604645);
  --blue-opacity--32: rgba(0, 129, 215, 0.3199999928474426);
  --blue-opacity--24: rgba(0, 129, 215, 0.23999999463558197);
  --blue-opacity--16: rgba(0, 129, 215, 0.1599999964237213);
  --blue-opacity--8: rgba(0, 129, 215, 0.07999999821186066);
  --blue-opacity--4: rgba(0, 129, 215, 0.03999999910593033);
  --red--900: rgba(150, 0, 2, 1);
  --red--800: rgba(179, 0, 4, 1);
  --red--700: rgba(206, 1, 6, 1);
  --red--600: rgba(239, 2, 9, 1);
  --red--500: rgba(255, 54, 55, 1);
  --red--400: rgba(255, 101, 102, 1);
  --red--300: rgba(255, 138, 139, 1);
  --red--200: rgba(255, 171, 171, 1);
  --red--100: rgba(255, 203, 203, 1);
  --red--50: rgba(255, 234, 234, 1);
  --red-opacity--48: rgba(255, 54, 55, 0.47999998927116394);
  --red-opacity--40: rgba(255, 54, 55, 0.4000000059604645);
  --red-opacity--32: rgba(255, 54, 55, 0.3199999928474426);
  --red-opacity--24: rgba(255, 54, 55, 0.23999999463558197);
  --red-opacity--16: rgba(255, 54, 55, 0.1599999964237213);
  --red-opacity--8: rgba(255, 54, 55, 0.07999999821186066);
  --red-opacity--4: rgba(255, 54, 55, 0.03999999910593033);
  --orange--900: rgba(156, 57, 0, 1);
  --orange--800: rgba(186, 68, 0, 1);
  --orange--700: rgba(212, 78, 1, 1);
  --orange--600: rgba(237, 92, 2, 1);
  --orange--500: rgba(255, 108, 19, 1);
  --orange--400: rgba(255, 138, 90, 1);
  --orange--300: rgba(255, 168, 135, 1);
  --orange--200: rgba(255, 197, 174, 1);
  --orange--100: rgba(255, 225, 212, 1);
  --orange--50: rgba(255, 243, 238, 1);
  --orange-opacity--48: rgba(237, 92, 2, 0.47999998927116394);
  --orange-opacity--40: rgba(237, 92, 2, 0.4000000059604645);
  --orange-opacity--32: rgba(237, 92, 2, 0.3199999928474426);
  --orange-opacity--24: rgba(237, 92, 2, 0.23999999463558197);
  --orange-opacity--16: rgba(237, 92, 2, 0.1599999964237213);
  --orange-opacity--8: rgba(237, 92, 2, 0.07999999821186066);
  --orange-opacity--4: rgba(237, 92, 2, 0.03999999910593033);
  --yellow--900: rgba(90, 66, 0, 1);
  --yellow--800: rgba(119, 86, 0, 1);
  --yellow--700: rgba(147, 107, 0, 1);
  --yellow--600: rgba(177, 129, 19, 1);
  --yellow--500: rgba(195, 147, 35, 1);
  --yellow--400: rgba(215, 165, 37, 1);
  --yellow--300: rgba(238, 181, 0, 1);
  --yellow--200: rgba(255, 197, 0, 1);
  --yellow--100: rgba(255, 215, 117, 1);
  --yellow--50: rgba(255, 237, 204, 1);
  --yellow-opacity--48: rgba(177, 129, 19, 0.47999998927116394);
  --yellow-opacity--40: rgba(177, 129, 19, 0.4000000059604645);
  --yellow-opacity--32: rgba(177, 129, 19, 0.3199999928474426);
  --yellow-opacity--24: rgba(177, 129, 19, 0.23999999463558197);
  --yellow-opacity--16: rgba(177, 129, 19, 0.1599999964237213);
  --yellow-opacity--8: rgba(177, 129, 19, 0.07999999821186066);
  --yellow-opacity--4: rgba(177, 129, 19, 0.03999999910593033);
  --aqua--900: rgba(1, 61, 49, 1);
  --aqua--800: rgba(1, 84, 66, 1);
  --aqua--700: rgba(1, 108, 87, 1);
  --aqua--600: rgba(1, 135, 108, 1);
  --aqua--500: rgba(0, 165, 132, 1);
  --aqua--400: rgba(12, 199, 160, 1);
  --aqua--300: rgba(67, 220, 179, 1);
  --aqua--200: rgba(98, 233, 194, 1);
  --aqua--100: rgba(126, 242, 207, 1);
  --aqua--50: rgba(172, 247, 223, 1);
  --aqua-opacity--48: rgba(4, 170, 137, 0.47999998927116394);
  --aqua-opacity--40: rgba(4, 170, 137, 0.4000000059604645);
  --aqua-opacity--32: rgba(4, 170, 137, 0.3199999928474426);
  --aqua-opacity--24: rgba(4, 170, 137, 0.23999999463558197);
  --aqua-opacity--16: rgba(4, 170, 137, 0.1599999964237213);
  --aqua-opacity--8: rgba(4, 170, 137, 0.07999999821186066);
  --aqua-opacity--4: rgba(4, 170, 137, 0.03999999910593033);
  --fushia--900: rgba(122, 0, 59, 1);
  --fushia--800: rgba(179, 1, 87, 1);
  --fushia--700: rgba(214, 1, 104, 1);
  --fushia--600: rgba(254, 1, 123, 1);
  --fushia--500: rgba(255, 77, 163, 1);
  --fushia--400: rgba(255, 113, 201, 1);
  --fushia--300: rgba(255, 146, 213, 1);
  --fushia--200: rgba(255, 177, 225, 1);
  --fushia--100: rgba(254, 220, 241, 1);
  --fushia--50: rgba(255, 242, 250, 1);
  --fushia-opacity--48: rgba(254, 1, 123, 0.47999998927116394);
  --fushia-opacity--40: rgba(254, 1, 123, 0.4000000059604645);
  --fushia-opacity--32: rgba(254, 1, 123, 0.3199999928474426);
  --fushia-opacity--24: rgba(254, 1, 123, 0.23999999463558197);
  --fushia-opacity--16: rgba(254, 1, 123, 0.1599999964237213);
  --fushia-opacity--8: rgba(254, 1, 123, 0.07999999821186066);
  --fushia-opacity--4: rgba(254, 1, 123, 0.03999999910593033);
  --pink--900: rgba(113, 0, 113, 1);
  --pink--800: rgba(148, 1, 148, 1);
  --pink--700: rgba(183, 1, 183, 1);
  --pink--600: rgba(214, 1, 214, 1);
  --pink--500: rgba(246, 0, 246, 1);
  --pink--400: rgba(244, 86, 255, 1);
  --pink--300: rgba(241, 130, 255, 1);
  --pink--200: rgba(244, 165, 255, 1);
  --pink--100: rgba(246, 202, 254, 1);
  --pink--50: rgba(251, 230, 255, 1);
  --pink-opacity--48: rgba(214, 1, 214, 0.47999998927116394);
  --pink-opacity--40: rgba(214, 1, 214, 0.4000000059604645);
  --pink-opacity--32: rgba(214, 1, 214, 0.3199999928474426);
  --pink-opacity--24: rgba(214, 1, 214, 0.23999999463558197);
  --pink-opacity--16: rgba(214, 1, 214, 0.1599999964237213);
  --pink-opacity--8: rgba(214, 1, 214, 0.07999999821186066);
  --pink-opacity--4: rgba(214, 1, 214, 0.03999999910593033);
  --36--regular: 36px;
  --36--semi-bold: 36px;
  --36--bold: 36px;
  --24--regular: 24px;
  --24--medium: 24px;
  --24--semi-bold: 24px;
  --24--bold: 24px;
  --16--regular: 16px;
  --16--medium: 16px;
  --16--semi-bold: 16px;
  --16--bold: 16px;
  --14--regular: 14px;
  --14--medium: 14px;
  --14--semibold: 14px;
  --14--bold: 14px;
  --13--regular: 13px;
  --13--medium: 13px;
  --13--semi-bold: 13px;
  --13--bold: 13px;
  --12--regular: 12px;
  --12--medium: 12px;
  --12--semi-bold: 12px;
  --12--bold: 12px;
  --11--regular: 11px;
  --11--medium: 11px;
  --11--semibold: 11px;
  --11--bold: 11px;
  --10--regular: 10px;
  --10--medium: 10px;
  --10--semibold: 10px;
  --10--bold: 10px;
  --32--medium: 32px;
  --shadow---xs: 0px 1px 2px rgba(16, 24, 40, 0.04);
  --shadow---sm: 0px 1px 3px rgba(16, 24, 40, 0.06);
  --shadow---md: 0px 4px 8px rgba(16, 24, 40, 0.1);
  --shadow---lg: 0px 12px 16px rgba(16, 24, 40, 0.08);
  --shadow---xl: 0px 20px 24px rgba(16, 24, 40, 0.08);
  --shadow---2-xl: 0px 24px 48px rgba(16, 24, 40, 0.18);
  --shadow---3-xl: 0px 32px 64px rgba(16, 24, 40, 0.14);
}
